* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    list-style: none;
    color: gainsboro;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2.5rem;
    font-family: "Sansation", sans-serif;
    color: white;
}

h2 {
    font-size: 2.7rem;
}

h2,
h3 {
    color: rgb(220, 220, 220);
    font-family: "Sansation", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
    background: rgb(7, 7, 7);
}

p,
a,
aside,
span,
h3{
    font-size: 18px;
}

.backgroundFormacao {
    padding: 4rem 0;
    background: rgb(10, 10, 17);
    width: 100%;
}

a {
    transition: 0.3s;
}

a:hover {
    text-decoration: underline;
    text-shadow: 0 0.1rem 1rem rgb(210, 210, 210);
}

html {
    scroll-behavior: smooth;
}